
@media (min-width: 601px) and (max-width: 1000px)  {
 	/*  aqui observamos todo lo relacionado con el css o diseño mas estetico que recibe la pagina web */
 body{
 	font-family: arial,sans-serif;
 }
 aside{
 	float: left;
 	width: 40%;
 	clear: both;
 }

 section{

    float: left;
    width: 40%
 }

 #formacion{
 	width: 100%
 }

 #experiencia{
 	width: 100%
 }
}

#menu{
	background-color: #FAEBD7  ;
	position: fixed;
	top: -20px;
	width: 100%;
	transition: top 0.3s;
}

#menu li {
	display: inline;
}

#menu a{
color: black;
text-decoration: none;
float: right;
padding: 20px;
font-size: 18px;
margin-right:  20px;
}

#menu h1{
	text-align: left;
	margin-left: 50px;
	font-family: 'Roboto', sans-serif;
	position: absolute;
}

#menu a:hover{
background-color:black;
color: white;
 }

 img{
 	border-radius: 100%;
 	width: 100%
 }

 .foto{
 left: 100%;	
 width: 20%;
 margin-left: 35%;
 margin-top: 5%;
 }

.datos{	
font-size: 20px;
margin-left: 18%;
margin-right: 18%;
text-align: center;
}

.datos a{
	text-decoration: none;
}


.c {	
text-align: center;
left: 30px;
margin: 70px;
font-size: 18px;
font-family: 'Roboto', sans-serif;
}


.proyecto{
 text-align: center;
left: 30px;
margin: 70px;
font-size: 18px;
font-family: 'Roboto', sans-serif;
}

.contacto{
	background-color: #FAEBD7 ; 
    position: all;
    font-size: 20px;
    }

 body{
 background-color: #F4F5EC  ;
 }
